<head th:fragment="head(valor)">
	<meta charset="UTF-8">
	<title th:text="${valor}">Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	<style>
	    .logo-container {
	        background-color: #47bcff;
	        color: #FFF;
	    }
	    .logo {
	        font-family: 'Handlee', cursive;
	        font-size: 2.5rem;
	    }
	</style>
</head>
<th:block th:fragment="navLogo">
	<div th:case="true" th:replace="${session.user} ? ~{base :: navLogin} : ~{base :: navLogout}"></div>
</th:block>

<div th:fragment="navLogin" class="logo-container mb-3 p-3 d-flex justify-content-between">
	<span class="logo">mudi</span>
	<form class="mt-2" th:action="@{/login}" method="post">
		<button type="submit" class="btn btn-light">Login</button>
	</form> 
</div>

<div th:fragment="titulo(valor)" class="h-100 p-5 text-bg-dark">
    <h1 class="display-5 m-3" th:text="${valor}"></h1>
</div>
<div th:fragment="navLogout" class="logo-container mb-3 p-3 d-flex justify-content-between">
	<span class="logo">mudi</span>
	<!--<h1 th:inline="text">Hello 
		 <span th:remove="tag" sec:authentication="name">thymeleaf</span>! 
	</h1>-->
	 <form class="mt-2" th:action="@{/logout}" method="post">
		<button type="submit" class="btn btn-light">Logout</button>
	</form> 
	
</div>